#!/usr/bin/make -f
%:
	dh "$@"  --buildsystem=cmake

# Don't fail on local system when dependencies are installed locally. TODO: This
# should be removed after testing.
override_dh_shilbdeps:
	dh_shilibdeps --dpkg-shilibs-params=--ignore-missing-info
