#!/usr/bin/make -f
%:
	dh "$@"  --buildsystem=cmake

# Don't fail on local system when dependencies are installed locally. TODO: This
# should be removed after testing.
override_dh_shlibdeps:
	dh_shlibdeps --dpkg-shlibdeps-params=--ignore-missing-info
