<!-- Write your simulation specific settings here. -->
<moose elec_path='/elec' simulate='true' runtime="0.6">
    <global sim_dt="10e-6" plot_dt="10e-6" sim_method="hsolve" />

    <!-- This setup recording settings for soma. Each type of element should
        be contained in <element> </element> tag. In nutshell, we write the group
        of variable first then we write its individual details.
    -->
    <element type="soma" population="Gran" cell_group="CellA" instance_id="0">
        <record type="table">
            <!--
                 We should be able to form the following from this XML.
                 somaVm = moose.setupTable(
                        'somaVm'
                        , moose.Compartment(parentPath+'/'+path)
                        , 'Vm'
                     )
                prefixed_by_element, if not specified, will be treated as true.
            -->
            <variable name="Vm">
                <target_in_simulator type="Compartment" path="Soma_0"
                     prefixed_by_element="true" />
                <plot plot="true" output="somavm.eps" plot_args="go-">
                    <!-- If star, step and stop are not given, use globals -->
                    <x unit="time" start="0.0" step="10e-6" stop="0.6" />
                    <label x="Time" y="Soma Vm (V)" />
                </plot>
            </variable>
            <variable name="Ca">
                <target_in_simulator type="CaConc"  path="Soma_0/Gran_CaPool_98" />
                <plot output="soma_ca.eps" plot_args='g.'>
                </plot>
                   
            </variable>
            <variable name="Gk">
                <target_in_simulator type="HHChannel" path="Soma_0/Gran_KCa_98" />
            </variable>
        </record>
    </element>
</moose>
