<!-- Write your simulation specific settings here. -->
<moose>
    <simulation> 
        <start>0</start>
        <step>10e-6</step>
        <stop>0.6</stop>
        <!-- Write which variable you want to plot -->
        <plot variable="somaVm">
        </plot>
    </simulation>

    <!-- This setup recording settings for soma. Each type of element should
        be contained in <element> </element> tag. In nutshell, we write the group
        of variable first then we write its individual details.
        -->
    <element type="soma" population="CellGroupA" cell_group="CellA" instance_id="0">
        <record type="table">
            <!--
                 We should be able to form the following from this XML.
                 somaVm = moose.setupTable(
                        'somaVm'
                         , moose.Compartment(parentPath+'/'+path, 'Vm'
                     )
             -->
            <variable name="Vm">
                <target_in_simulator type="Compartment" path="Soma_0" prefixed_by_element="true" />
            </variable>
            
        </record>
    </element>
</moose>
